*.o
*.ppm
*.png

prog1_mandelbrot_threads/mandelbrot

prog2_vecintrin/myexp

prog3_mandelbrot_ispc/objs
prog3_mandelbrot_ispc/mandelbrot_ispc

prog4_sqrt/sqrt
prog4_sqrt/objs

prog5_saxpy/saxpy
prog5_saxpy/objs

prog6_kmeans/data*
prog6_kmeans/start*
prog6_kmeans/end*
prog6_kmeans/dist.ispc
prog6_kmeans/kmeans
